h1, h3{
    text-align: center;
    margin-top: 3em;
    color: rgb(94, 140, 205);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    text-align: center;
    margin-top: 2em;
    color: rgb(94, 140, 205);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    text-align: center;
    margin-top: 4em;
}

.email, .password{
    margin: 1em;
    width: 30em;
    height: 3.5em;
    border-radius: 10px;
    border-color: rgb(94, 140, 205);
    padding-left: 10px;
}

.email::placeholder, .password::placeholder{
    font-size: 15px;
}

.signin{
    margin: 1em;
    margin-top: 2em;
    width: 10em;
    height: 3em;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(94, 140, 205);
    color: white;
}

.signin:hover{
    background-color: rgb(30, 100, 150);
    cursor: pointer;
}