body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color:#F6F6F8;
}

/************** Nav Bar **************/

nav {
  background-color: #D3E2FA;
  padding: 13px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.title{
  margin-right: auto; 
}

.nav-container a {
  color: black;
  text-decoration: none;
  padding-left: 25px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #0055f9;
}

/************** Search Bar **************/

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

input[type="text"] {
  width: 50%;
  height: 60px;
  padding-left: 60px;
  padding-right: 15px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input:hover{
  border-color: #0055f9;
}

.search-container i {
  position: relative;
  font-size: 25px;
  left: 45px;
  top: 16px;
  color: gray;
}

/************** Buttons **************/

.button, .button1, .button2, .button3{
  position: absolute;
  text-align: center;
  background-color: #1252cb;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  width: 9em;
}

.button{
  margin-left: 75em;
}

.button1{
  margin-left: 95em;
}

.button2{
  margin-right: 75em;
}

.button3{
  margin-right: 95em;
}

.button:hover, .button1:hover, .button2:hover, .button3:hover{
  background-color: #0055f9;
}

/************** STMT **************/

.statement{
  text-align: center;
  font-size: 20px;
}

.statement1{
  font-size: 16px;
  color: gray;
}

/************** CARD **************/

.inner-container{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 40px;
}

.card {
  flex: 0 0 calc(30% - 100px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 13px;
  margin-bottom: 12px;
  margin-right: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #E4E4E6;
  width: 15em;
}

.view-card {
  flex: 0 0 calc(30% - 180px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 12px;
  margin-left: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #E4E4E6;
  height: 22em;
}

.card:hover{
  transform: scale(1.05);
  background-color: #D3E2FA;
}

.card-content{
  padding: 16px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.fa-coins{
  color: gold;
}

.fa-dollar-sign{
  color: green;
  margin-right: 4px;
}

.fa-calendar-days{
  color: red;
}

.balance, .currency, .date {
  font-size: 1rem;
  color: black;
}

.currency, .date{
  margin-left: 2px;
}

.fname{
  margin-left: 5px;
}

.email{
  margin-left: 3px;
}

.fname-value, .lname-value, .email-value, .balance-value, .currency-value, .date-value {
  display: inline;
  float: right; 
}

.transactions-container{
  margin-right: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #E4E4E6;
}

.other-accounts-container{
  display: flex;
  flex-direction: column;
}

.fa-envelope, .fa-users, .fa-user{
  color: gray;
}

.fa-trash{
  float: right;
  color: gray;
}

.fa-trash:hover{
  color: #0055f9;
}

.viewing{
  position: absolute;
  margin-top: -33px;
}


#deposit-modal-container, #withdraw-modal-container, #to-modal-container, #from-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.deposit-modal-content, .withdraw-modal-content, .to-modal-content, .from-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
