nav {
  background-color: #D3E2FA;
  padding: 13px;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.title{
  margin-right: auto; 
  font-family: 'Roboto', sans-serif;

}

.nav-container a {
  color: black;
  text-decoration: none;
  padding-left: 25px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #0055f9;
}




/* Style for the card container */
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Style for the card image */
  .card img {
    width: 100%;
    height: auto;
  }

  /* Style for the card content */
  .card-content {
    padding: 16px;
  }

  /* Style for the card title */
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  /* Style for the card description */
  .card-description {
    font-size: 1rem;
    color: #555;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
  }

