body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex; /* Use flexbox to arrange image and form side by side */
    align-items: center; /* Center items vertically within the card */
    padding: 20px;
    width: 75%;
    height: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

img {
    padding: 30px;
    width: 500px;
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0055f9;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1252CB;
}
