body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #D3E2FA;
    padding: 13px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.title{
    margin-right: auto; 
}

.nav-container a {
    color: black;
    text-decoration: none;
    padding-left: 25px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0055f9;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 70%;
    height: 65%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #D3E2FA;
    margin-top: -80px;
}

.left-side-container {
    margin-left: 10px;
}

.statement1 {
    margin-left: 40px;
    margin-top: -90px;
}

.statement1 h3 {
    color: gray;
    margin-left: 10px;
    margin-top: -10px;
}

.statement2 h4{
    color: gray;
    margin-top: -10px;
    margin-left: 5px;
}

img {
    padding: 30px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.right-side-container {
    margin-left: 80px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    width: calc(100% - 16px);
}

.input-container input {
    padding-left: 35px;
}

input:hover,
input[type="submit"] {
    border-color: #0055f9;
}

input[type="submit"] {
    width: 30%;
    text-align: center;
    background-color: #0055f9;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #1252cb;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.input-container i {
    position: absolute;
    left: 10px;
    color: #ccc;
    margin-top: -10px;
}

.input-container:hover input {
    border-color: #0055f9;
}