body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:#F6F6F8;
}

/************** Nav Bar **************/

nav {
background-color: #D3E2FA;
padding: 13px;
}

.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 10px;
}

.title{
margin-right: auto; 
}

.nav-container a {
color: black;
text-decoration: none;
padding-left: 25px;
font-weight: bold;
transition: color 0.3s;
}

nav a:hover {
color: #0055f9;
}

/************** Search Bar **************/

.search-container {
display: flex;
justify-content: center;
margin-top: 30px;
width: 100%;
}

input[type="text"] {
width: 50%;
height: 60px;
padding-left: 60px;
padding-right: 15px;
font-size: 20px;
border: 1px solid #ccc;
border-radius: 40px;
outline: none;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input:hover{
border-color: #0055f9;
}

.search-container i {
position: relative;
font-size: 25px;
left: 45px;
top: 16px;
color: gray;
}

.button{
    position: absolute;
    text-align: center;
    background-color: #1252cb;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 10px;
    text-decoration: none;
    margin-top: 2px;
    width: 9em;
    margin-left: 75em;
}

.button:hover{
    background-color: #0055f9;
}

/************** Statements **************/

.statement{
    text-align: center;
    font-size: 20px;
}

.statement1{
font-size: 16px;
color: gray;
}

/************** List **************/

.user-list {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.user-list-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.user-list-item:hover {
    background-color: #D3E2FA;
}

.email{
    color: gray;
}